[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
requests = "*"
django-environ = "*"
django-cors-headers = "*"
channels-redis = "*"
daphne = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
